<h3>Salutare, {{ reservation.user.firstName }} {{ reservation.user.lastName }}!</h3>
<p>
  Programul <b>{{ reservation.programme.name }}</b> la <b>{{ reservation.machineInstance.name }}</b>
  se încheie în {{ minutes }} minute. Te rugăm să te prezinți pentru a-ți ridica hainele.
  <br>
  Accesează aplicația pentru check-in.
</p>