<h3>Salutare, {{ reservation.user.firstName }} {{ reservation.user.lastName }}!</h3>
<p>
  Rezervarea pentru <b>{{ reservation.machineInstance.name }}</b> pentru programul <b>{{ reservation.programme.name }}</b>
  este confimată pe data de <b>{{ dateFormat reservation.startTime }}</b> de la ora <b>{{ timeFormat reservation.startTime }}</b>.
  <br>
  Accesează aplicația pentru a vedea detaliile rezervării.
</p>