<h3>Salutare, {{ reservation.user.firstName }} {{ reservation.user.lastName }}!</h3>
<p>
  Rezervarea ta pentru <b>{{ reservation.machineInstance.name }}</b> pentru programul <b>{{ reservation.programme.name }}</b>
  începe în {{ minutes }} minute. Te rugăm să te prezinți întotdeauna cu 5 minute înaintea rezervării. Rezervările care
  nu sunt revendicate în primele 5 minute de la începerea acestora vor fi anulate.
  <br>
  Accesează aplicația pentru check-in.
</p>